*{
    box-sizing: border-box;
}
@font-face {
    font-family: ubuntu-medium;
    src: url('../public/fonts/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: ubuntu-regular;
    src: url('../public/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: ubuntu-bold;
    src: url('../public/fonts/Ubuntu-Bold.ttf');
}
button:hover{
    cursor: pointer;
}
div.App{   
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
}
*{
    font-family: ubuntu-regular,Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: #fff;
}
#main-navbar{
    background-color: hsl(213, 96%, 18%);
    height: 80px;
}
nav img{
    height: 90%;
    width: auto;
    transform: translate(25px,0);
}
#main-navbar div:first-child{
    height: 100%;
    width: 60%;
}
#main-navbar div:nth-child(2){
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#main-navbar button.btn{
    border: none;
    border-radius: 5px;
    height: 35px;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.9s;
    transition: background-color 0.9s;
}
#main-navbar button.btn:hover{
    background-color: #fff;
    color: hsl(213, 96%, 18%);
    cursor: pointer;
}
/*                                               */
form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    width: 400px;

}
form button{
    border: none;
    color: #fff;
    font-size: 1.1em;
    height: 32px;
}
.bg-blue{
    background-color: hsl(213, 96%, 18%);
}
.bg-blue:hover{
    background-color: hsla(213, 96%, 19%, 0.973);
}
.bg-red{
    background-color: #d1242f;
}
.bg-red:hover{
    background-color: hsl(354, 84%, 57%);
}
form div{
    display: flex;
    position: relative;
}
form div label{
    position: absolute;
    top: 5px;
    left: 3px;
    color: hsl(231, 6%, 59%);
    font-size: .85em;
    transition: top 0.3s,font-size 0.3s;
}
form div label.focused{
    top: -15px;
    font-size: .75em;
    color: hsl(213, 96%, 18%);
}

form div input{
    height: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 82%);
    outline: none;
    padding: 0 5px;
    font-family: ubuntu-medium;
}
form div input.underlined{
    border-bottom: 1.8px solid hsl(231, 11%, 63%);
}
form div input.focused{
    border-bottom: 1.8px solid hsl(213, 96%, 18%);
}



#title{
    background-color: #004E64;
    font-size: 60px;

}
#title span{
    display: inline-block;
    font-family: ubuntu-bold;
    margin: 0 4px;
    position: relative;
    top: -20px;
    animation: wave 0.8s;
}


@keyframes wave {
    0% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
/*                     HOME PAGEEEEEEEEEEEEEEEE                 */
#home{
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
}
#main-typing-container{
    height: 500px;
    width: 100%;
    background-image: url('./darkBg.png') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typed-text{

    text-align: center;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 255, 255, 0.3),
    0 0 25px rgba(255, 255, 255, 0.3);   
    
}
#home-main-content{
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    margin-top: 15px;
    padding-top: 15px;
    
    
}
.slick-slider{
    width: 92%;
    margin: auto;
}
.slick-list{
    padding: 30px 0 !important;
}
.slick-slide > div{
    margin: 0 20px;
    
}
.new-challenge{
    background-color: #fff;
    box-shadow:  0 2px 20px 2px rgba(0, 0, 0, 0.1);
    height: 180px;   
}
.new-challenge:hover{
    cursor: pointer;
    box-shadow:  0 6px 20px 6px rgba(0, 0, 0, 0.1); 
}
.new-challenge-content{
    width: 100%;
    height: 100%;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.new-challenge-heading{
    margin: 0;
    background: linear-gradient(to right, #000046, #1cb5e0);
    background-clip: text;
    color: transparent;
    padding-left: 5%;
}
.new-challenge-first-half{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border-right: solid 1px #e0e2e4;
}
.new-challenge-second-half{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 1.3em;

}
.new-challenge-creation-text{
    color: #888c8fe6;
    font-size: .65em;
}

.difficulty-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: end;
    height: 1.5rem;
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.difficulty-1{
    background-color: #fff;
    border: solid 1px rgb(170, 215, 66);
    height: 0.3rem;
}
.difficulty-2{
    background-color: #fff;
    border: solid 1px rgb(241, 182, 4);
    height: 0.5rem;
}
.difficulty-3{
    background-color: #fff;
    border: solid 1px rgb(244, 137, 37);
    height: 0.7rem;
}
.difficulty-4{
    background-color: #fff;
    border: solid 1px rgb(237, 44, 73);
    height: 0.85rem;
}
.difficulty-5{
    background-color: #fff;
    border: solid 1px rgb(0, 0, 0);
    height: 1rem;
}
.difficulty-1.active{
    background-color: rgb(170, 215, 66);
}
.difficulty-2.active{
    
    background-color: rgb(241, 182, 4);
}
.difficulty-3.active{
    
    background-color: rgb(244, 137, 37);
}
.difficulty-4.active{
    
    background-color: rgb(237, 44, 73);
}
.difficulty-5.active{
    
    background-color: rgb(0, 0, 0);
}



/*                      Challenges PAGEEEEEEEEEEEE                         */


#challenges-main-page{
    
    width: 100%;
    min-width:fit-content;
    background-color: #f8f9fa;
}
#challenges-page{
    width: 100%;
    min-height: fit-content;
    background-color: #f8f9fa;
    padding: 0;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 5fr;
}
.home-navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display:grid;
    grid-template-columns: 13fr 11fr;
    height: 50px;
    background-color: #fff;
    z-index: 10;
}
.home-navbar>div:first-of-type{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.home-navbar div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home-navbar .link{

    text-decoration: none;
    color: black;

}
.home-navbar .link:hover{
    color: #004E64;
}
.home-navbar .navbar-section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-navbar .navbar-section:hover{
    cursor: pointer;
    border-bottom: solid 2px #004E64;
    background-color: #ffffffe2;
}

#challenges-page .challenge-container{
    width: 80%;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 2px 20px rgba(0, 0, 0, 0.1);
}
#challenges-page .challenge-container:hover{
    cursor: pointer;
}
#challenges-page .challenge-container div:first-child{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}
#challenges-page .challenge-container div:first-child span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: ubuntu-medium;
    position: absolute;
    top: 15px;
    right: 15px;
}
#challenges{
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow:hidden;
}
#categories-side-panel{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 5px 20px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 2px 20px rgba(0, 0, 0, 0.1);
    height: 450px;
}
#categories{
    font-size: .9em;
    color: #004E64;
}
#categories-side-panel select{
    height: 30px;
    color: #004E64;
    font-size: 1.2em;
    border: solid 1px #004E64;
    border-radius: 5px;
}
#categories-side-panel select:hover{
    cursor: pointer;
}
.black-filter{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 75px 0 0 20px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 5fr;
    background-color: #e4e3e356;
}
.filtered{
    background-color: #e4e3e356;
}
.color1 {
    color: rgb(106, 190, 205);
    text-shadow:
      1px 1px 0 rgb(86, 150, 165),  /* Main shadow with no blur */
      -1px -1px 0 rgb(126, 210, 225);  /* Lighter shadow with no blur for depth */
  }
.color2 {
    color: rgb(170, 215, 66);
    text-shadow:
      1px 1px 0 rgb(140, 180, 56), /* Main shadow with no blur */
      -1px -1px 0 rgb(200, 245, 80); /* Lighter shadow with no blur for depth */
  }
.color3{
    color: rgb(241, 182, 4);
}
.color4 {
    color: rgb(244, 137, 37);
    text-shadow:
      1px 1px 0 rgb(224, 117, 17), /* Main shadow with no blur */
      -1px -1px 0 rgb(264, 157, 57); /* Lighter shadow with no blur for depth */
  }
.color5{
    color: rgb(237, 44, 73);
    text-shadow:1px 0.5px 0px rgb(209, 39, 64) ;
}
.bg-color1{
    background-color: rgb(106, 190, 205);
}
.bg-color2{
    background-color: rgb(170, 215, 66);
}
.bg-color3{
    background-color: rgb(241, 182, 4);
}
.bg-color4{
    background-color: rgb(244, 137, 37);
}
.bg-color5{
    background-color: rgb(237, 44, 73);
}
#challenges-page .challenge-container div:nth-child(2),#challenges-page .challenge-container div:nth-child(3){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#challenges-page .challenge-container div:nth-child(2){
    font-family: ubuntu-medium;
    font-size: 1.1em;
}

#triggered-challenge-container{
    height: 425px;
    width: 600px;
    position: absolute;
    top:150px;
    left: 25%;
    background-color: #fff;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
#triggered-challenge-container #tr-challenge-header{

    background-color: #ff0000;

}
#challenge-modal{  
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(41, 41, 41, 0.4);
    align-items: center;
    justify-content: center;
}
.filtered{
    display: flex;
}
.non-filtered{
    display: none;
}



/*                 admin page                       */
#admin-page{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 251, 250);
    overflow:hidden;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 2fr 5fr;
}
#admin-page .side-panel{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-right: solid 1px rgb(222, 227, 232);
}
#admin-page .admin-sidebar-sections{
    display: flex;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
#admin-page .admin-sidebar-sections:hover{
    cursor: pointer;
    background-color: #d8d9da;
}
#admin-page .admin-sidebar-sections.active{
    background-color: #007bff;
    color: #fff;
}
#admin-page #admin-interface{
    padding:  20px 30px 10px 10px;
    box-sizing: border-box;
}
.admin-interface-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.admin-interface-section-title{
    font-size: 1.3em;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(208, 209, 210);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.admin-interface-section input{
    height: 30px;
}

/*            rankigs page                            */


#ranking-page{
    width: 100%;
    height: 100%;
    padding-top: 150px;
    background-color: #f8f9fa;
    overflow:hidden;

}
#ranking-tab{
    width: 675px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
    box-shadow: 1px 1px 6px #004E64;
    cursor: pointer;
}
.top-player-section{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 8px 0;
    border-bottom: solid 1px hsl(229, 10%, 67%);
}
.top-player-username-container{
    padding-left: 20px;
}
.top-player-points-container{
    text-align: center;
}
