@font-face {
    font-family: ubuntu-medium;
    src: url('../public/fonts/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: ubuntu-regular;
    src: url('../public/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: ubuntu-bold;
    src: url('../public/fonts/Ubuntu-Bold.ttf');
}
button:hover{
    cursor: pointer;
}
div.App{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}
*{
    font-family: ubuntu-regular,Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: #fff;
}
#main-navbar{
    background-color: hsl(213, 96%, 18%);
    height: 80px;
}
nav img{
    height: 90%;
    width: auto;
    transform: translate(25px,0);
}
#main-navbar div:first-child{
    height: 100%;
    width: 60%;
}
#main-navbar div:nth-child(2){
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#main-navbar button.btn{
    border: none;
    border-radius: 5px;
    height: 35px;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.9s;
    transition: background-color 0.9s;
}
#main-navbar button.btn:hover{
    background-color: #fff;
    color: hsl(213, 96%, 18%);
    cursor: pointer;
}
/*                                               */
form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    width: 400px;

}
form button{
    border: none;
    color: #fff;
    font-size: 1.1em;
    height: 32px;
}
.bg-blue{
    background-color: hsl(213, 96%, 18%);
}
.bg-blue:hover{
    background-color: hsla(213, 96%, 19%, 0.973);
}
.bg-red{
    background-color: #d1242f;
}
.bg-red:hover{
    background-color: hsl(354, 84%, 57%);
}
form div{
    display: flex;
    position: relative;
}
form div label{
    position: absolute;
    top: 5px;
    left: 3px;
    color: hsl(231, 6%, 59%);
    font-size: .85em;
    transition: top 0.3s,font-size 0.3s;
}
form div label.focused{
    top: -15px;
    font-size: .75em;
    color: hsl(213, 96%, 18%);
}

form div input{
    height: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 82%);
    outline: none;
    padding: 0 5px;
    font-family: ubuntu-medium;
}
form div input.underlined{
    border-bottom: 1.8px solid hsl(231, 11%, 63%);
}
form div input.focused{
    border-bottom: 1.8px solid hsl(213, 96%, 18%);
}



#title{
    background-color: #004E64;
    font-size: 60px;

}
#title span{
    display: inline-block;
    font-family: ubuntu-bold;
    margin: 0 4px;
    position: relative;
    top: -20px;
    animation: wave 0.8s;
}


@keyframes wave {
    0% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}


/*                      HOME PAGEEEEEEEEEEEE                         */


#home{
    width: 100%;
    height: 100%;
    padding-top: 250px;
    background-color: #e9ecef;
    overflow:hidden;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 5fr;
}
#home-navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #fff;
}
#home-navbar .link{
    color: #245498 ;
    text-decoration: none;
}
#home .challenge-container{
    width: 80%;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #fff;
    border-radius: 5px;
}
#home .challenge-container:hover{
    cursor: pointer;
}
#home .challenge-container div:first-child{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}
#home .challenge-container div:first-child span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: ubuntu-medium;
    position: absolute;
    top: 15px;
    right: 15px;
}
#challenges{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    padding:0 20px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #e9ecef;
    overflow:hidden;

}
#categories-side-panel{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 5px 20px 20px;
}
#categories{
    font-size: .9em;
    color: #004E64;
}
#categories-side-panel select{
    height: 30px;
    color: #004E64;
    font-size: 1.2em;
    border: solid 1px #004E64;
    border-radius: 5px;
}
#categories-side-panel select:hover{
    cursor: pointer;
}
.color1{
    color: rgb(106, 190, 205);
}
.color2{
    color: rgb(170, 215, 66);
}
.color3{
    color: rgb(241, 182, 4);
}
.color4{
    color: rgb(244, 137, 37);
}
.color5{
    color: rgb(237, 44, 73);
}
.bg-color1{
    background-color: rgb(106, 190, 205);
}
.bg-color2{
    background-color: rgb(170, 215, 66);
}
.bg-color3{
    background-color: rgb(241, 182, 4);
}
.bg-color4{
    background-color: rgb(244, 137, 37);
}
.bg-color5{
    background-color: rgb(237, 44, 73);
}
#home .challenge-container div:nth-child(2),#home .challenge-container div:nth-child(3){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .challenge-container div:nth-child(2){
    font-family: ubuntu-medium;
    font-size: 1.1em;
}

/*                 admin home                       */
#admin-page{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 251, 250);
    overflow:hidden;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 2fr 5fr;
}
#admin-page .side-panel{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-right: solid 1px rgb(222, 227, 232);
}
#admin-page .admin-sidebar-sections{
    display: flex;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
#admin-page .admin-sidebar-sections:hover{
    cursor: pointer;
    background-color: #d8d9da;
}
#admin-page .admin-sidebar-sections.active{
    background-color: #007bff;
    color: #fff;
}
#admin-page #admin-interface{
    padding:  20px 30px 10px 10px;
    box-sizing: border-box;
}
.admin-interface-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.admin-interface-section-title{
    font-size: 1.3em;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(208, 209, 210);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.admin-interface-section input{
    height: 30px;
}