*{
    box-sizing: border-box;
}
@font-face {
    font-family: ubuntu-medium;
    src: url('../public/fonts/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: ubuntu-regular;
    src: url('../public/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: ubuntu-bold;
    src: url('../public/fonts/Ubuntu-Bold.ttf');
}
button:hover{
    cursor: pointer;
}
div.App{   
    height: 100%;
    width: 100%;
    flex: 1;
    margin: 0;
    
}
body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: ubuntu-regular,Verdana, Geneva, Tahoma, sans-serif;
}
#root:has(#pwd) {
    height: 100vh;
}
#root{
    display: flex;
    flex-direction: column;
    flex: 1;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    margin: 0;
    
}
#main-navbar{
    background-color: hsl(213, 96%, 18%);
    height: 80px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
nav img{
    height: 90%;
    width: auto;
    transform: translate(25px,0);
}
#main-navbar div:first-child{
    height: 100%;
    width: 60%;
}
#main-navbar div:nth-child(2){
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#main-navbar button.btn{
    border: none;
    border-radius: 5px;
    height: 35px;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.9s;
    transition: background-color 0.9s;
}
#main-navbar button.btn:hover{
    background-color: #fff;
    color: hsl(213, 96%, 18%);
    cursor: pointer;
}
/*                          Logiin                     */
#login-page{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    width: 400px;

}
form button{
    border: none;
    color: #fff;
    font-size: 1.1em;
    height: 32px;
}
.bg-blue{
    background-color: hsl(213, 96%, 18%);
}
.bg-blue:hover{
    background-color: hsla(213, 96%, 19%, 0.973);
}
.bg-red{
    background-color: #d1242f;
}
.bg-red:hover{
    background-color: hsl(354, 84%, 57%);
}
form div{
    display: flex;
    position: relative;
}
#login-page form div label{
    position: absolute;
    top: 5px;
    left: 3px;
    color: hsl(231, 6%, 59%);
    font-size: .85em;
    transition: top 0.15s ease,font-size 0.15s ease;
}
#login-page form div label:hover{
    cursor:text;
}
#login-page form div label.focused{
    top: -15px;
    font-size: .75em;
    color: hsl(213, 96%, 18%);
}

form div input{
    height: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 82%);
    outline: none;
    padding: 0 5px;
    font-family: ubuntu-medium;
}
form div input.underlined{
    border-bottom: 1.8px solid hsl(231, 11%, 63%);
}
form div input.focused{
    border-bottom: 1.8px solid hsl(213, 96%, 18%);
}



#title{
    background-color: #004E64;
    font-size: 60px;

}
#title span{
    display: inline-block;
    font-family: ubuntu-bold;
    margin: 0 4px;
    position: relative;
    top: -20px;
    animation: wave 0.8s;
}


@keyframes wave {
    0% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
/*                     HOME PAGEEEEEEEEEEEEEEEE                 */
#home{
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
}
#main-typing-container{
    height: 500px;
    width: 100%;
    background-image: url('./darkBg.png') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typed-text{

    text-align: center;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 255, 255, 0.3),
    0 0 25px rgba(255, 255, 255, 0.3);   
    
}
#home-main-content{
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    margin-top: 15px;
    padding-top: 15px;
    
}
.slick-slider{
    width: 94%;
    margin: auto;
}
.slick-list{
    padding: 30px 0 !important;
}
.slick-slide > div{
    margin: 0 20px;
    
}
.new-challenge{
    background-color: #fff;
    box-shadow:  0 2px 20px 2px rgba(0, 0, 0, 0.1);
    height: 180px;   
}
.new-challenge:hover{
    cursor: pointer;
    box-shadow:  0 6px 20px 6px rgba(0, 0, 0, 0.1); 
}
.new-challenge-content{
    width: 100%;
    height: 100%;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.new-challenge-heading{
    margin: 0;
    background-image:linear-gradient(to right, #000046, #1cb5e0);
    color: transparent;
    background-clip: text;
    padding-left: 30px;
}
.new-challenge-first-half{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border-right: solid 1px #e0e2e4;
}
.new-challenge-second-half{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 1.3em;

}
.new-challenge-creation-text{
    color: #888c8fe6;
    font-size: .65em;
}

.difficulty-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: end;
    height: 1.5rem;
    width: 20px;
}
#home .difficulty-container{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
#challenges .difficulty-container{
    margin: auto;
}

#home-faq-parent{
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 30px;
    
}
#home-faq-parent h2{
    background-image:linear-gradient(to right, #000046, #1cb5e0);
    color: transparent;
    background-clip: text;
}
#home-faq-container{
    background-color: #fff;
    padding: 0 15px;
    box-shadow: 0 2px 15px #eaeaea;
    position: relative;
}
.more{
    color: hsl(213, 96%, 18%);
    text-decoration: none;
    display: inline-block;
    font-family: ubuntu-medium;
}
#home-faq-container .more{
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#home-faq-container span{
    position: relative;
    left: 0;
    margin-left: 7px;
    transition: left .15s ease;
    font-family: ubuntu-medium;
}
#home-faq-container span.mored{
    left:5px;
}
#new-users-container{
    width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 2px 15px #eaeaea;
}
#new-users-container ul{
    height: 50%;
    width: 100%;
    margin: auto;
    list-style: none;
    padding: 0;
}
#new-users-container h3{
    background-image:linear-gradient(to right, #000046, #1cb5e0);
    color: transparent;
    background-clip: text;
}
.new-user{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.membership-date{
    color: #888c8fe6;
    font-size: .95em;
}
.membership-name{
    font-size: 1.05em;
}
.new-user p{
    display: inline-block;
    padding-left: 5px;
    margin: 2px 0;
}
.difficulty-1{
    background-color: #fff;
    border: solid 1px rgb(170, 215, 66);
    height: 0.3rem;
}
.difficulty-2{
    background-color: #fff;
    border: solid 1px rgb(241, 182, 4);
    height: 0.5rem;
}
.difficulty-3{
    background-color: #fff;
    border: solid 1px rgb(244, 137, 37);
    height: 0.7rem;
}
.difficulty-4{
    background-color: #fff;
    border: solid 1px rgb(237, 44, 73);
    height: 0.85rem;
}
.difficulty-5{
    background-color: #fff;
    border: solid 1px rgb(0, 0, 0);
    height: 1rem;
}
.difficulty-1.active{
    background-color: rgb(170, 215, 66);
}
.difficulty-2.active{
    
    background-color: rgb(241, 182, 4);
}
.difficulty-3.active{
    
    background-color: rgb(244, 137, 37);
}
.difficulty-4.active{
    
    background-color: rgb(237, 44, 73);
}
.difficulty-5.active{
    
    background-color: rgb(0, 0, 0);
}



/*                      Challenges PAGEEEEEEEEEEEE                         */



.home-navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display:grid;
    grid-template-columns: 13fr 11fr;
    height: 50px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 1px 7px rgba(0, 0, 0, 0.08);
}
.home-navbar>div:first-of-type{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.home-navbar>div:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.navbar-part-second{
    height: 100%;
    width: auto;
    max-width: max(30%,150px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30px;
}
.home-navbar .link{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;

}
.home-navbar .link:hover{
    color: #004E64;
}
.home-navbar .navbar-section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-navbar .link:hover{
    cursor: pointer;
    
    background-color: #ffffffe2;
    box-sizing: content-box;
}
.home-navbar >div:first-of-type .link:hover{
    border-bottom: solid 2px #004E64;
}

.profile-options-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130%;
    width: max(114%,130px);
    bottom: -130%;
    right: -7%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    
}
.profile-options-container>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-align: center;
    position: relative;
    padding: 0 5px;
}
.profile-options-container>div:hover{
    color: #004E64;
    background-color: #ededed;
}
.profile-options-container>div:first-of-type{
    border-radius: 5px 5px 0 0 ;
}
.profile-options-container>div:nth-of-type(2){
    border-radius: 0 0 5px 5px  ;
}
.profile-options-container>div a{
    font-size: .95em;
}
.profile-options-container:hover{
    cursor: pointer;
}


#challenges-main-page{
    height: auto;
    width: 100%;
    background-color: #f8f9fa;
    
}
#challenge-page-welcome{
    width: 95%;
    margin: 25px auto 0 auto;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 15px #e0e0e0;
}
.bold{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    
}
#challenge-page-welcome h1{
    background-image:linear-gradient(to right, #000046, #1cb5e0);
    color: transparent;
    background-clip: text;
}
#challenge-page-welcome p{
    color: #000000;
}
.lien{
    text-decoration: none;
    
}
#challenges{
    display: flex;
    flex-direction: column;
    min-height: auto;
    width: 95%;
    margin: 25px auto 0 auto;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 15px #e0e0e0;
}
.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.category:not(:first-of-type){
    border-top: solid 1px #dddedf;
}

.category:not(:first-of-type):hover{
    cursor: pointer;
}
.category-title{
    padding-left: 10px;
}
.category-title > h2{
    font-size: 1.35em;
    font-family: ubuntu-medium;
    font-weight: normal;
}
.category-title > h3{
    font-size: 1.15em;
    font-family: ubuntu-regular;
    font-weight: normal;
}
.category-challenges{
    margin-bottom: 30px;
}

.challenge-container{
    width: 100%;
    height: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    background-color: #fff;
    text-align: center;
}
.challenge-container > div:first-child{
    color: hsl(213, 96%, 18%);
}
.challenge-container > div:first-child:hover{
    text-decoration: underline;
}
.odd{
    background-color: #f8f8f8;
}
.even{
    background-color: #ffffff;
}
.challenge-container div:first-child{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}



.black-filter{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 75px 0 0 20px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 5fr;
    background-color: #e4e3e356;
}
.filtered{
    background-color: #e4e3e356;
}
.color1 {
    color: rgb(106, 190, 205);
    text-shadow:
      1px 1px 0 rgb(86, 150, 165),  /* Main shadow with no blur */
      -1px -1px 0 rgb(126, 210, 225);  /* Lighter shadow with no blur for depth */
  }
.color2 {
    color: rgb(170, 215, 66);
    text-shadow:
      1px 1px 0 rgb(140, 180, 56), /* Main shadow with no blur */
      -1px -1px 0 rgb(200, 245, 80); /* Lighter shadow with no blur for depth */
  }
.color3{
    color: rgb(241, 182, 4);
}
.color4 {
    color: rgb(244, 137, 37);
    text-shadow:
      1px 1px 0 rgb(224, 117, 17), /* Main shadow with no blur */
      -1px -1px 0 rgb(264, 157, 57); /* Lighter shadow with no blur for depth */
  }
.color5{
    color: rgb(237, 44, 73);
    text-shadow:1px 0.5px 0px rgb(209, 39, 64) ;
}
.bg-color1{
    background-color: rgb(106, 190, 205);
}
.bg-color2{
    background-color: rgb(170, 215, 66);
}
.bg-color3{
    background-color: rgb(241, 182, 4);
}
.bg-color4{
    background-color: rgb(244, 137, 37);
}
.bg-color5{
    background-color: rgb(237, 44, 73);
}
#challenges-page .challenge-container div:nth-child(2),#challenges-page .challenge-container div:nth-child(3){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#challenges-page .challenge-container div:nth-child(2){
    font-family: ubuntu-medium;
    font-size: 1.1em;
}

#triggered-challenge-container{
    height: 425px;
    width: 600px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
#challenge-modal{  
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(41, 41, 41, 0.4);
    align-items: center;
    justify-content: center;
}
.filtered{
    display: flex;
}
.non-filtered{
    display: none;
}



/*                 admin page                       */
#admin-page{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 251, 250);
    overflow:hidden;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 2fr 5fr;
}
#admin-page .side-panel{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-right: solid 1px rgb(222, 227, 232);
}
#admin-page .admin-sidebar-sections{
    display: flex;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
#admin-page .admin-sidebar-sections:hover{
    cursor: pointer;
    background-color: #d8d9da;
}
#admin-page .admin-sidebar-sections.active{
    background-color: #007bff;
    color: #fff;
}
#admin-page #admin-interface{
    padding:  20px 30px 10px 10px;
    box-sizing: border-box;
}
.admin-interface-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.admin-interface-section-title{
    font-size: 1.3em;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(208, 209, 210);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.admin-interface-section input{
    height: 30px;
}

/*            rankigs page                            */


#ranking-page{
    width: 100%;
    height: auto;
    background-color: #f8f9fa;  
}
.hide{
    display: none !important;
}
#ranking-tab{
    width: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    margin: 25px auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#top-three-container{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 18fr 11fr 11fr;
    padding: 10px 0;
    gap: 10px;
}
#top-three-container>div{
    position: relative;
    background-color: #fff;
    border: solid 2px hsl(213, 96%, 18%);
    border-radius: 3px;
    color: hsl(213, 96%, 18%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-three-position{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.6em;
}
.top-three-position p, .top-three-points p, .top-three-challenges p{
    margin: 0;
}
.top-three-points{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.2em;
}
.top-three-challenges{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.2em;
}
.top-three-username{
   font-size: 2em;
   
}

#top-rest-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 3px 15px 2px #ebebeb;
}
#top-rest-container .top-rest{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr 4fr 4fr;
    height: 45px;
    align-items: center;
    padding-left:  10px;

}
#top-rest-container .top-rest p,#top-rest-container .top-rest div{
    display: inline-block;
}
#top-rest-container .top-rest>div:not(:nth-of-type(2)){
    text-align: center;
}
.ranking-link{
    text-decoration: none;
    color: hsl(213, 96%, 18%);
}
.ranking-link:hover{
    cursor: pointer;
    text-decoration: underline;
}
p.ranking-link:hover{
    cursor: pointer;
    text-decoration: none;
}
p.ranking-link{
    text-align: center;
}


/* individual challenge page */

#main-challenge-page{
    height: 100vh;
    width: 100%;
    background-color: #EDECEC;
    display: flex;
    flex-direction: column;
    
}


#challenge-details-container{
    flex: 1;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}
#challenge-details{
    height: 90%;
    width: 90%;
    box-shadow: 1px 1px 15px 1px #c9c9c9;
    background-color: #fff;
    display: grid;
    grid-template-columns: 13fr 8fr;
    padding: 15px 0;
}
#challenge-details-main{
    position: relative;
    padding: 0 20px;
    display: grid;
    grid-template-rows: 2fr 7fr 3fr;
    border-right: 1px solid #cacaca;
}
#challenge-details-main h2{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
}

#challenge-details-main a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 35px;
    margin: auto;
    color: #fff;
    background-color: #000046;
    border: none;
    border-radius: 2px;
    text-decoration: none;

}
#challenge-details-aside{
    position: relative;
    padding: 0 20px;   
}
#challenge-details-aside h2{
    font-weight: 400;  
}
#challenge-details-aside #challenge-submission-form{
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    
}
#challenge-details-aside #challenge-submission-form input{
    height: 35px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    padding: 0 10px;
    color: hsl(213, 96%, 18%);
    font-size: 1.01em;
    font-family: ubuntu-medium,Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    margin-bottom: 20px;
}
#challenge-details-aside #challenge-submission-form button{
    height: 35px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    padding: 0 10px;
    color: hsl(213, 96%, 18%);
    font-size: 1.01em;
    font-family: ubuntu-medium,Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    margin-bottom: 20px;
}
#challenge-details-aside #challenge-submission-form button:hover{
    border: none;
    background-color: hsl(213, 96%, 18%);
    color:#fff ;
}

.incorrect-comment{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #de2b0f ;
    background: #fdeae7;
    border-bottom: solid 2px #de2b0f;
    border-right: solid 2px #de2b0f;
    font-size: .9em;
    position: absolute;
    bottom: 9%;
}
.hide{
    display: none;
}
.correct-comment{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #3a945b ;
    background: #edf8f1;
    border-bottom: solid 2px #3a945b;
    border-right: solid 2px #3a945b;
    font-size: .9em; 
    position: absolute;
    bottom: 9%;
}
.solved-comment{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #007ba0;
    background: #e6f9ff;
    border-bottom: solid 2px #007ba0;
    border-right: solid 2px #007ba0;
    font-size: .9em; 
    position: absolute;
    bottom: 9%;
}










#main-footer {
    font-family: "Open Sans", "sans-serif", "Arial" !important;
    color: #767676;
    padding: 20px 0;
    text-align: center;
    margin-top: 25px;
}
  
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
  
.footer-logo img {
    width: 50px;
}
  

.footer-content p {
    margin: 10px 0;
    font-size: 1.1em;
    font-family: "Open Sans", "sans-serif", "Arial" !important;
}
  
.footer-content {
    
    color: #767676;
    font-size: .9em;
}
  
.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    
    font-family: "Open Sans", "sans-serif", "Arial" !important;
}
  
.footer-links li {
    display: inline;
    margin: 0 10px;
    
}
  
.footer-links a {
    color: #767676;
    text-decoration: none;
    font-family: "Open Sans", "sans-serif", "Arial" !important;
}
  
/* ///////////////////////////////////////////////: */

#user-profile-page{
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
}
#user-profile-general-section{
    width: 95%;
    height: 80px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 45px auto ;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-shadow: 0 1px 15px #dfdfdf;
}
#user-profile-general-section-titles{
    background-color: hsl(213, 96%, 18%);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
}
#user-profile-general-section-titles>div{
    flex: 1;
}
#user-profile-general-section p{
    text-align: center;
    margin: 0;
}
#user-profile-general-section-information{
    display: flex;
    flex-direction: row;
    color: hsl(213, 96%, 18%);
    align-items: center;
    font-size: 1.3em;
}
#user-profile-general-section-information>div{
    flex: 1;
}
#user-profile-informations-section{
    width: 95%;
    height: max-content;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 1px 15px #ededed;
    padding: 20px 0;
}
.chart-container {
    height: 250px !important;
    width: max-content; 
    background-color: #FFF;
    margin: auto;
    
  }
.chart-container canvas {
    width: 100% !important; 
    height: 100% !important; 
}
#stats-filter{
    width: 500px;
    margin: 0 auto 10px auto;
}
#user-profile-informations-section button{
    background-color: transparent;
    border: none;
    color: #636c76;
    font-size: .8em;
    
}
#user-profile-informations-section button:hover{
    color: #0969da;
}

#user-profile-informations-section span{
    font-size: .5em;
}

/*                  faq pageeeeeeeeeeeeeeeee                        */

#faq-main-page{
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
}
#main-faq-content{
    width: 98%;
    padding: 10px;
    margin: 30px auto 0 auto;
    min-height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 16px #dedede;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#main-faq-content h1{
   background-image:linear-gradient(to right, #000046, #1cb5e0);
   background-clip:text;
   color: transparent;
   margin: 0%;
   padding: 10px;

}
#main-faq-content ul{
    list-style: none;
    padding: 0;
    margin-top:20px ;
}
#main-faq-content ul div.faq-question-container{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-top:1px solid #dcdcdc;
    position: relative;
    font-weight: 500;
}
#main-faq-content ul .faq-question-container span{
    height: auto;
    width: auto;
    transition: rotate .3s ease;
}
.rotate{
    rotate: 90deg;
}
.open{
    color: hsl(213, 96%, 18%);
    border-left: 8px solid hsl(213, 96%, 18%);
}
#main-faq-content ul div.faq-question-container:hover{
    cursor: pointer;
    background-color: #f4f4f4;
    color: hsl(213, 96%, 18%);
    border-left: 8px solid hsl(213, 96%, 18%);

}



#main-faq-content ul div.faq-answer-container{
    height: auto;
    padding: 10px 0 20px 40px;
}
#main-faq-content ul div.faq-answer-container p.faq-answer-continuation{
    line-height: 1.5em;
    margin-bottom: 0;
}
#main-faq-content ul div.faq-answer-container p:not(.faq-answer-continuation){
    margin: 0;
    line-height: 1.5em;
}



/*                          Registration                                  */
#registration-page{
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    padding-top: 10px;
}
#main1{
    width: 90%;
    height: calc(auto + 200px);
    display: flex;
    flex-direction: column;
    justify-content:center ;
    background-color: #fff;
    box-shadow: 0 2px 15px #e4e4e4;
    margin: 10px auto 20px auto;
}
#main1>div:first-of-type{
    width: 85%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}
#main1>div:first-of-type h1{
    font-family: ubuntuBold,Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(213, 96%, 18%);
}
#main1>div:first-of-type p{
    color:hsl(231, 11%, 63%);
}
#main1 form{
    width: 85%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
#main1 p{
    margin: 0;
}
#main1 form>div{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 25px;
}
#main1 form>div input{
    height: 40px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    padding: 0 10px;
    color: hsl(213, 96%, 18%);
    font-size: 1.05em;
    font-family: ubuntu-medium,Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}
#main1 form>div input:focus{
    border: 2px solid hsl(213, 96%, 18%);    
}
::placeholder{
    color: hsl(231, 11%, 63%);
    font-size: 0.9em;
}
:-ms-input-placeholder{
    color: hsl(231, 11%, 63%);
    font-size: 0.9em;
}
#main1 form>div label{
    font-family: ubuntu-medium,Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}
.invalid{
    border: 1px solid hsl(354, 84%, 57%) !important; 
}
.validInput{
    border: 1px solid #3a945b !important; 
}
.error-msg{
    position: absolute;
    bottom:-25px;
    left: 0;
    color: hsl(354, 84%, 57%);
    font-family: ubuntu-medium,Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}

#main1 >div:has(button){
    width: 85%;
    height: 60px;
    margin: auto;
    position: relative;
}
#main1 button{
    background-color: hsl(213, 96%, 18%);
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    position: absolute;
    right: 0;
}

